body {
    background-color: #383838;

}

h1 {
    color: #FFCC00;

}


.tabbraden-body .content {
    background: gray;
    height: 1000px;
    width: 75%;
    margin-top: 10%;
    margin-bottom: -1000px;
    margin-left: auto;
    margin-right: auto;
    z-index: -100;

}


.tabbraden-body .banner {
    height: 10%;
    width: 100%;
    background: green;
    z-index: -5;

}


.tabbraden-body .loga {
    width: 100%;
    margin-top: -350px;

}


.tabbraden-body .float-left {
    width: 10%;
    height: 40px;
    float: left;
    background: #FFCC00;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;

}


.tabbraden-body .float-left span {
    background: #FFCC00;

}


.tabbraden-body .tabbraden {
    background-color: #2E2916;
    height: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}


.container1 {
    background-color: blue;
    height: 100px;
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}


.container2 {
    background-color: red;
    height: 100px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}


.container3 {
    background-color: yellow;
    height: 200px;
    width: 100px;
    float: right;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;

}


.box-left-mini {
    float:left;
    background-color: yellow;
    width:292px;
    height:141px;
}

.box-left-mini .front {
    display: block;
    z-index: 5;
    position: relative;
}
.box-left-mini .front span {
    background: green;
}

.box-left-mini .behind_container {
    background-color: red;
    position: relative;
    top: -5px;
}
.box-left-mini .behind {
    display: block;
    z-index: 6;
}


#leftFloat
{
    float: left;
    width: 100px;
}

#rightFloat
{
    float: right;
    width: 100px;
}


