h1 {
    color: #FFCC00;
}

div.clickable {
    position: relative;
}

div.clickable a {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 100px;
    left: 0;
    text-decoration: none;
    background-color: yellow;
    opacity: 0;
    filter: alpha(opacity=1);
}

.tabbraden-body .loga {
    width: 100%;
    margin-top: -200px;
    margin-right: auto;
    margin-left: 80%;
}

.tabbraden-body .content {
    background: #383838;
    height: 1500px;
    width: 85%;
    margin-top: 0%;
    margin-bottom: -1500px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    border-radius: 40px;
}

.tabbraden-body .float-left {
    width: 10%;
    height: 40px;
    float: left;
    background: #FFCC00;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 105px;
    margin-bottom: auto;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px darkgoldenrod;
    padding-top: 25px;
    padding-bottom: 0px;
    box-shadow: 0px 10px 1px darkgoldenrod;
    display: block;
    text-decoration: none;
    z-index: -1;
}

.tabbraden-body .float-left span {
    background: #FFCC00;
    position: inherit;
    z-index: 1;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    text-decoration: none;
    opacity: 500;
    filter: alpha(opacity=1);
}

.tabbraden-body .tabbraden {
    background-color: #FFE479;
    height: 100px;
    width: 98.69%;
    margin-top: 75px;
    margin-bottom: auto;
    padding-right: 7px;
    padding-top: 25px;
    padding-bottom: 0px;
    border: 5px;
    border-style: groove;
    border-color: #CCB761;
}

.tabbraden-body .banner {
    height: 100%;
    width: 100%;
    background: inherit;
    z-index: 0;
    margin-bottom: -10px;
}

.add_to_cart:hover {
    background-color: #FF9933;
    text-decoration: none;
    color: #FFFFFF;
}

.add_to_cart {
    cursor: pointer;
    background-color: #EC5500;
    display: block;
    text-align: center;
    margin-top: 8px;
    width: 90px;
    height: 31px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #E70000;
}

.nyheter1 {
    background-color: #FFE479;
    height: 500px;
    width: 70%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 40px;
    box-shadow: 5px 20px 1px #CCB761;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.nyheter1 .nyhet11 {
    background-color: #CCB761;
    height: 200px;
    width: 90%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 1px 1px 20px #CCB761;
    border-radius: 40px;
    color: blue;

}

.nyheter1 .nyhet12 {
    background-color: #CCB761;
    height: 200px;
    width: 90%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 40px;
}

.nyheter2 {
    background-color: #FFE479;
    height: 200px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    box-shadow: 5px 20px 1px #CCB761;
    text-align: center;
}

body {
    background-color: #2E2916;
}
